/* SELECT2 */
.select2.select2-container.select2-container--default,
.select2.select2-container.select2-container--default.select2-container--below,
.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus,
.select2.select2-container.select2-container--default.select2-container--below.select2-container--open {
    width: 100% !important;
}

.limitar-opciones .select2-results__options {
    max-height: 100px;
    overflow-y: auto;
}

.select2-container--default .select2-selection--single {
    min-height: 38px;
    width: 100% !important;
}

.select2-selection__rendered {
    display: flex !important;
    align-items: center;
    min-height: 38px;
}

/* FIN SELECT2 */