/* SELECT2 */
.select2.select2-container.select2-container--default,
.select2.select2-container.select2-container--default.select2-container--below,
.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus,
.select2.select2-container.select2-container--default.select2-container--below.select2-container--open {
    width: 100% !important;
}

.limitar-opciones .select2-results__options {
    max-height: 100px;
    overflow-y: auto;
}

.select2-container--default .select2-selection--single {
    min-height: 38px;
    width: 100% !important;
}

.select2-selection__rendered {
    display: flex !important;
    align-items: center;
    min-height: 38px;
}

/* FIN SELECT2 */

/* DATE PICKER */

/* Estilos personalizados para el input datepicker */
.input-group-lg input[type="text"] {
    height: auto;
    /* Ajusta el alto según el contenido */
    font-size: 12px;
    /* Tamaño de fuente deseado */
    padding: 12px 12px;
    /* Ajusta el relleno según tus necesidades */
}

/* Estilos para reducir el tamaño del ícono de calendario */
.input-group-addon i.glyphicon-calendar {
    font-size: 18px;
    /* Tamaño de fuente deseado para el ícono */
}

/* FIN DATE PICKER */

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    /* width: 50%; 
    height: 50%;  */
    overflow: auto;
    background-color: rgba(0,0,0,0.7); 
}

.select2-dropdown {
    z-index: 10060;
 }

.modal-content-1 {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: black !important;
}

.vertical-line {
    border-left: 2px solid #b3b3b3; /* Color y grosor de la línea vertical */
    height: 100%; /* Altura de la línea vertical */
    /* margin-left: 50px; Margen izquierdo para ajustar la posición */
}